<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="dtdc" class="com.nt.comps.DTDC" /><!-- @Autowired -->
	<bean id="bDart" class="com.nt.comps.BlueDart" /><!-- Used in Setter Injection -->
	<bean id="fflight" class="com.nt.comps.FirstFlight" /><!-- Used in Constructor Injection -->

	<bean id="fkart" class="com.nt.comps.Flipkart">
		<property name="courier" ref="bDart" /><!-- courier property has been injected with value configured in setter injection -->
		<constructor-arg name="courier" ref="fflight" /><!-- Constructor injection -->
	</bean>

	<context:annotation-config />

</beans>