<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Dependent bean Configuration -->
	<bean id="dt" class="java.util.Date" />

	<!-- Target Bean configuration -->
	<bean id="wmg" class="com.nit.beans.WishMessageGenerator">

		<!-- Property configured for constructor injection -->
		<constructor-arg name="date" ref="dt"/>

	</bean>

</beans>