<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="db" class="com.nit.beans.DummyBean" />

	<bean id="calculator" class="com.nit.beans.Calculator">
		<constructor-arg name="a" value="200" />
		<constructor-arg name="c" value="Nazeer" />
	</bean>
	
</beans>