<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- Approach-1 -->
	<bean id="voting1"
		class="com.nt.beans.VoteEligibilityCheckingService"
		init-method="myInit" destroy-method="myDestroy">
		<property name="name" value="Sardar" />
		<property name="age" value="17" />
	</bean>
	
	<bean id="voting2"
		class="com.nt.beans.VoteEligibilityCheckingService"
		init-method="myInit" destroy-method="myDestroy">
		<property name="name" value="Nazeer" />
		<property name="age" value="18" />
	</bean>
	
	<bean id="voting3"
		class="com.nt.beans.VoteEligibilityCheckingService"
		init-method="myInit" destroy-method="myDestroy">
		<property name="name" value="Dilshad" />
		<property name="age" value="28" />
	</bean>
	
	<!-- Approach-3 -->
	<context:component-scan base-package="com/nt" />
</beans>
